{% extends "nouveau/4/base.html" %}

{% block body %}
    <ul id="browse-items-primary">
        <li>
            <div class="about-metadata-container">
                <div class="about-metadata-stats branded-page-box-padding">
                    <div class="about-stats">
                    <span class="about-stat"><b>{{profile.subscribers}}</b> subscriber{%if profile.subscribers != 1%}s{%endif%} • <b>{{profile.video_views}}</b> video views</span>
                    {% if profile.a_reg == 1 %}
                    <br>
                    <span class="about-stat">Joined {{profile.reg_date|date("M d, Y")}}</span>
                    {% endif %}
                </div>
            </div>
            <div class="about-actions branded-page-box-padding"></div>
            {% if profile.channel_description != "" %}
            <div class="about-metadata-label branded-page-box-padding">
                <span>Description</span>
            </div>
            <div class="about-description branded-page-box-padding">
                <pre>{{profile.channel_description}}</pre>
            </div>
            {% endif %}
            {%if profile.a_country == 1%}
            <div class="about-metadata-label about-metadata-label-border-top branded-page-box-padding">
                <span>Details</span>
            </div>
            <div class="country-container branded-page-box-padding">
                <span class="country-label">Country:</span>
                <span class="country-inline">
                    {{profile.country}}
                </span>
            </div>
            {%endif%}
            {% if website|length > 0 %}
            <div class="about-metadata-label about-metadata-label-border-top branded-page-box-padding">
                <span>Links</span>
            </div>
            <div class="about-metadata branded-page-box-padding clearfix">
                <ul class="about-custom-links">
                    {% for website in website %}
                    <li class="channel-links-item">
                        <a href="{{website.url}}" rel="me nofollow" target="_blank" title="{{website.url}}" class="about-channel-link">
                            <img src="https://s2.googleusercontent.com/s2/favicons?feature=youtube_channel&amp;domain_url={{website.url}}" class="about-channel-link-icon" width="16" height="16">
                            <span class="about-channel-link-text">
                                {{website.title}}
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </li>
    </ul>
{% endblock %}