<div id="page" class="branded-page channel">
    <div id="content-container">
        <div id="content">
            <div id="branded-page-default-bg" class="ytg-base">
                {%if owner%}
                <div class="cosmic_edit hddn" id="gbg" style="width: 970px; margin: 0 auto; text-align: left; border-radius: 4px; box-shadow: 0 2px 4px #ccc;">
                    <form action="/user/{{profile.displayname}}" method="POST" enctype="multipart/form-data">
                        <div style="border-bottom:1px solid #ccc; position: relative">
                            <div style="padding:12px;font-size:18px;color:#555">
                                Edit Channel
                            </div>
                            <div style="position:absolute;right:6px;top:6px">
                                <button type="submit" class="yt-uix-button yt-uix-button-primary" name="save_channel_branding">Save</button>
                                <button type="button" class="yt-uix-button yt-uix-button-default" onclick="$('.cosmic_edit').toggleClass('hddn')">Cancel</button>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: space-between; text-align: left; padding:12px;color:#666;overflow:hidden; background-color: #fafafa;">
                            <div>
                                <h2>Info</h2>
                                <div>
                                    <label for="channel_title">Channel Title: </label><br>
                                    <input type="text" name="channel_title" id="channel_title" placeholder="Your Channel Title" style="width: 100%"{% if profile.channel_title != ""%} value="{{profile.channel_title}}"{% endif %}>
                                </div>
                                <div>
                                    <label for="ch_description">Channel Description: </label>
                                    <textarea name="channel_description" id="channel_description" placeholder="Your Channel Description" style="width: 100%">{% if profile.channel_description != ""%}{{profile.channel_description}}{% endif %}</textarea>
                                </div>
                                <div>
                                    <label for="channel_tags">Channel Tags: </label><br>
                                    <input type="text" name="channel_tags" id="channel_tags" placeholder="Your Channel Tags" style="width: 100%"{% if profile.channel_tags != ""%} value="{{profile.channel_tags}}"{% endif %}>
                                </div>
                                <div>
                                    <label for="website">Website: </label><br>
                                    <input type="url" name="website" id="website" placeholder="Your Website" style="width: 100%"{% if profile.website != ""%} value="{{profile.website}}"{% endif %}>
                                </div>
                            </div>
                            <div>
                                <h2>Available Pages</h2>
                                <div>
                                    <h3>Feed</h3>
                                    <label for="csm_edit_act">
                                        <input type="checkbox" name="c_recent" id="csm_edit_act"{% if profile.c_recent == 1 %}checked=""{% endif %}>
                                        Activity
                                    </label>
                                    <label for="csm_edit_cmt">
                                        <input type="checkbox" name="c_comments" id="csm_edit_cmt"{% if profile.c_comments == 1 %}checked=""{% endif %}>
                                        Comments
                                    </label>

                                    <h3>Videos</h3>
                                    <label for="csm_edit_vid">
                                        <input type="checkbox" name="c_videos" id="csm_edit_vid"{% if profile.c_videos == 1 %}checked=""{% endif %}>
                                        Videos
                                    </label>
                                    <label for="csm_edit_fav">
                                        <input type="checkbox" name="c_favorites" id="csm_edit_fav"{% if profile.c_favorites == 1 %}checked=""{% endif %}>
                                        Favorites
                                    </label>
                                    <label for="csm_edit_ply">
                                        <input type="checkbox" name="c_playlists" id="csm_edit_ply"{% if profile.c_playlists == 1 %}checked=""{% endif %}>
                                        Playlists
                                    </label>

                                    <h3>Profile</h3>
                                    <label for="csm_last_login">
                                        <input type="checkbox" name="last_login" id="csm_last_login"{% if profile.a_last == 1 %}checked=""{% endif %}>
                                        Last Login
                                    </label>
                                    <label for="csm_age">
                                        <input type="checkbox" name="age" id="csm_age"{% if profile.a_age == 1 %}checked=""{% endif %}>
                                        Age
                                    </label>
                                    <label for="csm_country">
                                        <input type="checkbox" name="country" id="csm_country"{% if profile.a_country == 1 %}checked=""{% endif %}>
                                        Country
                                    </label>

                                    <h3>Featured</h3>
                                    <label for="csm_side_playlists">
                                        <input type="checkbox" name="c_featured_playlists" id="csm_side_playlists"{% if profile.c_featured_playlists == 1 %}checked=""{% endif %}>
                                        Playlists
                                    </label>
                                    <label for="csm_side_channels">
                                        <input type="checkbox" name="c_featured_channels" id="csm_side_channels"{% if profile.c_featured_channels == 1 %}checked=""{% endif %}>
                                        Channels
                                    </label>
                                </div>
                            </div>
                            <div>
                                <h2>Background</h2>
                                <div>
                                    <label for="bg_color">Color: </label>
                                    <input type="text" name="bg_color" value="#{{profile.bg}}" id="bg_color">
                                </div>
                                <div>
                                    <label for="bg_fixed">Is Fixed: </label>
                                    <select name="bg_repeat" id="bg_repeat">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="bg_repeat">Repeat: </label>
                                    <select name="bg_repeat" id="bg_repeat">
                                        <option value="1">No Repeat</option>
                                        <option value="2">Repeat</option>
                                        <option value="3">Only X</option>
                                        <option value="4">Only Y</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="bg_position">Position: </label>
                                    <select name="bg_position" id="bg_position">
                                        <option value="1">Top</option>
                                        <option value="2">Middle</option>
                                        <option value="3">Bottom</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {%endif%}
                <div id="branded-page-body-container" class="ytg-base clearfix enable-fancy-subscribe-button">
                    <div id="branded-page-header-container" class="ytg-wide">
                        <div id="branded-page-header" class="ytg-wide">
                            <div id="channel-header-main">
                                <div class="upper-section clearfix">
                                    <a href="/user/{{profile.displayname}}">
                                        <span class="profile-thumb">
                                            <span class="centering-wrap">
                                                <img src="/vi/ava/{{profile.displayname}}.jpg" alt="{{profile.displayname}}" width="60">
                                                <span class="vertical-align"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <div class="upper-left-section">
                                        <h1>{%if profile.channel_title != ""%}{{profile.channel_title}}{%else%}{{profile.displayname}}'s Channel{%endif%}</h1>
                                    </div>
                                    <div class="upper-left-section">
                                        {%if owner == true%}
                                        <button class="yt-uix-button yt-uix-button-primary" style="margin: -5px 0 -5px 10px" onclick="$('.cosmic_edit').toggleClass('hddn')">
                                            Edit Channel
                                        </button>
                                        {%else%}
                                        <div class="yt-subscription-button-hovercard yt-uix-hovercard">
                                            <span class="yt-uix-button-context-light yt-uix-button-subscription-container">
                                                <button class="yt-subscription-button subscription-button-with-recommended-channels yt-uix-button yt-uix-button-subscription yt-uix-tooltip">
                                                    <span class="yt-uix-button-icon-wrapper">
                                                        <img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                                                        <span class="yt-valign-trick"></span>
                                                    </span>
                                                    <span class="yt-uix-button-content">
                                                        <span class="subscribe-label">Subscribe</span>
                                                        <span class="subscribed-label">Subscribed</span>
                                                        <span class="unsubscribe-label">Unsubscribe</span>
                                                    </span>
                                                </button>
                                            </span>
                                        </div>
                                        {%endif%}
                                    </div>
                                    <div class="upper-right-section">
                                        <div class="header-stats">
                                            <div class="stat-entry">
                                                <span class="stat-value">{{profile.subscribers}}</span>
                                                <span class="stat-name">subscribers</span>
                                            </div>
                                        </div>
                                        <div class="header-stats">
                                            <div class="stat-entry">
                                                <span class="stat-value">{{profile.video_views}}</span>
                                                <span class="stat-name">video views</span>
                                            </div>
                                        </div>
                                        <span class="valign-shim"></span>
                                    </div>
                                </div>
                                <div class="channel-horizontal-menu clearfix">
                                    <ul>
                                        <li{%if page == "featured" or page == "index"%} class="selected"{%endif%}>
                                            <a href="/user/{{profile.displayname}}/featured" class="gh-tab-100">Featured</a>
                                        </li>
                                        {% if owner or (profile.c_recent == 1 or profile.c_comments == 1) %}
                                        <li{%if page == "feed"%} class="selected"{%endif%}>
                                            <a href="/user/{{profile.displayname}}/feed" class="gh-tab-101">Feed</a>
                                        </li>
                                        {% endif %}
                                        {%if videos.count > 0 %}
                                        {% if profile.c_videos == 1 or profile.c_playlists == 1 %}
                                        <li{%if page == "videos"%} class="selected"{%endif%}>
                                            <a href="/user/{{profile.displayname}}/videos" class="gh-tab-102">Videos</a>
                                        </li>
                                        {% endif %}
                                        {%endif%}
                                    </ul>
                                    {% if videos.count > 0 %}
                                    <form id="channel-search" action="#">
                                        <input name="query" type="text" autocomplete="off" class="search-field label-input-label" maxlength="100" style="height: 24px;" placeholder="Search Channel" value="">
                                        <button class="search-btn" type="submit">
                                            <span class="search-btn-content">Search</span>
                                        </button>
                                        <a class="search-dismiss-btn" href="#">
                                            <span class="search-btn-content">Clear</span>
                                        </a>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="branded-page-body">
                        <div class="channel-tab-content selected {%if two_columns == true%}channel-layout-two-column channel-tab-feed-content{%else%}channel-layout-full-width{%endif%}">
                            <div class="tab-content-body">
                                {%if two_columns == true%}<div class="primary-pane">{%endif%}
                                {%block body%}{%endblock%}
                                {%if two_columns == true%}
                                </div>
                                <div class="secondary-pane">
                                    <div class="user-profile channel-module yt-uix-c3-module-container">
                                        <div class="module-view profile-view-module">
                                            <h2>About {%if profile.channel_title != ""%}{{profile.channel_title}}{%else%}{{profile.displayname}}{%endif%}</h2>
                                            <div class="section first">
                                                <div class="user-profile-item profile-description">
                                                    {%if profile.channel_description != ""%}
                                                    <p>{{profile.channel_description_visible|raw}}</p>
                                                    {%endif%}
                                                </div>
                                                {% if profile.a_website == 1 and website.url != "" %}
                                                <div class="user-profile-item">
                                                    <div class="yt-c3-profile-custom-url field-container">
                                                        <a href="{{website.url}}" rel="me nofollow" target="_blank" title="{{website.title}}" class="yt-uix-redirect-link">
                                                            <img src="http://s2.googleusercontent.com/s2/favicons?domain={{website.url}}&amp;feature=youtube_channel" class="favicon" alt="">
                                                            <span class="link-text">
                                                                {{website.title}}
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <hr class="yt-horizontal-rule">
                                            </div>
                                            <div class="section created-by-section">
                                                <div class="user-profile-item">
                                                    by
                                                    <span class="yt-user-name" dir="ltr">{{profile.displayname}}</span>
                                                </div>
                                                {% if profile.a_last == 1 %}
                                                <div class="user-profile-item">
                                                    <h5>Latest Activity</h5>
                                                    <span class="value">{{profile.last_login|date("M d, Y")}}</span>
                                                </div>
                                                {% endif %}
                                                <div class="user-profile-item">
                                                    <h5>Date Joined</h5>
                                                    <span class="value">{{profile.reg_date|date("M d, Y")}}</span>
                                                </div>
                                            </div>
                                            {% if profile.a_age == 1 or profile.a_country == 1 %}
                                            <div class="section">
                                                {% if profile.a_age == 1 %}
                                                <div class="user-profile-item">
                                                    <h5>Age</h5>
                                                    <span class="value">{{profile.age}}</span>
                                                </div>
                                                {% endif %}
                                                {% if profile.a_country == 1 %}
                                                <div class="user-profile-item">
                                                    <h5>Country</h5>
                                                    <span class="value">{{profile.country}}</span>
                                                </div>
                                                <hr class="yt-horizontal-rule">
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if profile.c_featured_playlists == 1 and featured_playlists|length > 0 %}
                                    <div class="playlists-narrow channel-module yt-uix-c3-module-container">
                                        <div class="module-view gh-featured">
                                            {% if owner %}
                                            <div class="cosmic-module-twoside">
                                                <div><h2 style="margin-bottom: 4px;">Featured Playlists</h2></div>
                                                <div><button class="yt-uix-button yt-uix-button-default yt-uix-button-short" id="edit_playlists" onclick="$(this).toggleClass('hddn');$('.cosmic_featured_playlists > a').toggleClass('hddn');$('#playlists_add').toggleClass('hddn')">Edit</button></div>
                                            </div>
                                            <div id="playlists_add" class="hddn" style="background-color:#7696e6;padding:52px 13px 13px 13px;font-size:14px;border-radius:5px;margin-top:5px;margin-bottom:25px;position:relative;border:1px solid #4f87d4;color:white;font-weight:bold">
                                                <form action="{{request_url}}" method="POST" style="position:absolute;top:12px;left:12px">
                                                    <input type="hidden" id="playlists_small_input" value="{{profile.playlists}}," name="playlists">
                                                    <button type="submit" class="yt-uix-button yt-uix-button-primary yt-uix-button-short" name="save_playlists">Save</button>
                                                    <button type="button" class="yt-uix-button yt-uix-button-default yt-uix-button-short" onclick="$('#playlists_add').toggleClass('hddn');$('#edit_playlists').toggleClass('hddn');$('.cosmic_featured_playlists > a').toggleClass('hddn')">Cancel</button>
                                                </form>
                                                <div style="border-radius:3px;background-color:white;padding:6px"></div>
                                                <div id="featured_playlists_small"></div>
                                            </div>
                                            {% else %}
                                            <h2>Featured Playlists</h2>
                                            {% endif %}
                                            {% for playlist in featured_playlists %}
                                            <div class="playlist yt-tile-visible yt-uix-tile">
                                                <a href="/watch?v={{playlist.videos[0].url}}&pl={{playlist.purl}}" class="play-all yt-uix-sessionlink">
                                                    <span class="playlist-thumb-strip playlist-thumb-strip-252">
                                                        <span class="videos videos-{%if playlist.videos|length > 5%}5{%else%}{{playlist.videos|length}}{%endif%} horizontal-cutoff">
                                                            {%set thumbs_count = (playlist.videos|length > 5) ? 5 : playlist.videos|length%}
                                                            {% for video in playlist.videos %}
                                                                <span class="clip">
                                                                    <span class="centering-offset">
                                                                        <span class="centering">
                                                                            <span class="ie7-vertical-align-hack">&nbsp;</span>
                                                                            <img src="/vi/{{video.url}}.jpg" alt="" class="thumb">
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            {% endfor %}
                                                        </span>
                                                        <span class="resting-overlay">
                                                            <img src="http://s.ytimg.com/yt/img/channels/play-icon-resting-vflXxuFB8.png" class="play-button" alt="Play all">
                                                            <span class="video-count-box">
                                                                {{playlist.videos|length}} video{%if playlist.videos|length != 1%}s{%endif%}
                                                            </span>
                                                        </span>
                                                        <span class="hover-overlay">
                                                            <span class="play-all-container">
                                                                <strong>
                                                                    <img src="http://s.ytimg.com/yt/img/channels/mini-play-all-vflZu1SBs.png" alt="">
                                                                    Play all
                                                                </strong>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                                <h3>
                                                    <a href="/playlist?p={{playlist.purl}}" title="See all videos in playlist." class="yt-uix-tile-link">
                                                        {{playlist.title}}
                                                    </a>
                                                </h3>
                                                <span class="playlist-author-attribution">by {%if profile.channel_title != ""%}{{profile.channel_title}}{%else%}{{profile.displayname}}{%endif%}</span>
                                            </div>
                                            {% endfor %}
                                            {% if profile.c_playlists == 1 %}
                                            <a class="view-all-link" href="/user/{{profile.displayname}}/videos?view=1">
                                                view all
                                                <img src="http://s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if featured_channels|length > 0 and profile.c_featured_channels == 1 %}
                                    <div class="channel-module other-channels yt-uix-c3-module-container other-channels-compact">
                                        <div class="module-view other-channels-view">
                                            {% if owner %}
                                            <div class="cosmic-module-twoside">
                                                <div><h2 style="margin-bottom: 10px;">{% if featured_title != "" %}{{featured_title}}{% else %}Featured Channels{% endif %}</h2></div>
                                                <div><button class="yt-uix-button yt-uix-button-default yt-uix-button-short">Edit</button></div>
                                            </div>
                                            {% else %}
                                            <h2>{% if featured_title != "" %}{{featured_title}}{% else %}Featured Channels{% endif %}</h2>
                                            {% endif %}
                                            <ul class="channel-summary-list">
                                                {% for channel in featured_channels %}
                                                <li class="yt-tile-visible yt-uix-tile">
                                                    <div class="channel-summary clearfix channel-summary-compact">
                                                        <div class="channel-summary-thumb">
                                                            <span class="video-thumb ux-thumb yt-thumb-square-46">
                                                                <span class="yt-thumb-clip">
                                                                    <span class="yt-thumb-clip-inner">
                                                                        <img src="/vi/ava/{{channel.displayname}}.jpg" style="margin-left: 4px" alt="Thumbnail" data-thumb="/vi/ava/{{channel.displayname}}.jpg" width="46" height="46" data-group-key="thumb-group-0">
                                                                        <span class="vertical-align"></span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div class="channel-summary-info">
                                                            <h3 class="channel-summary-title">
                                                                <a href="/user/{{channel.displayname}}" class="yt-uix-tile-link">{%if channel.channel_title != ""%}{{channel.channel_title}}{%else%}{{channel.displayname}}{%endif%}</a>
                                                            </h3>
                                                            <span class="subscriber-count">
                                                                <strong>{{channel.subscribers}}</strong>
                                                                subscribers
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>