{% extends "nouveau/3/base.html" %}

{% block body %}
    <div class="channel-activity-feeds" data-module-id="10500">
        <div class="activity-feeds-container">
            {% if owner or profile.c_recent == 1 or profile.c_comments == 1 %}
            <div class="activity-feeds-header ytg-box" style="height: 40px;">
                <ul>
                    {% if owner or profile.c_recent == 1 %}
                    <li class="user-feed-filter{%if filter == 2%} selected{%endif%}">
                        <a href="/user/{{profile.displayname}}/feed?filter=2">Activity</a>
                    </li>
                    {% endif %}
                    {% if owner or profile.c_comments == 1 %}
                    <li class="user-feed-filter{%if filter == 1%} selected{%endif%}">
                        <a href="/user/{{profile.displayname}}/feed?filter=1">Comments</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            <div class="activity-feed">
                {% if owner or profile.c_recent == 1 or profile.c_comments == 1 %}
                <div class="yt-horizontal-rule channel-section-hr">
                    <span class="first"></span>
                    <span class="second"></span>
                    <span class="third"></span>
                </div>
                {% endif %}
                <div class="feed-list-container">
                {%if filter == 2%}
                    {% if owner %}
                    <form action="/user/{{profile.displayname}}/feed?filter=2" method="POST" style="display: flex; margin: 8px 0 8px 0;">
                        <textarea name="activity" id="activity" placeholder="Write your thoughts"></textarea>
                        <button type="submit" name="activity_post" class="yt-uix-button yt-uix-button-default yt-uix-button-short">Post!</button>
                    </form>
                    {% endif %}
                    {%if bulletins.count > 0%}
                    <div class="feed-item-list">
                        {%for bulletin in bulletins.data%}
                        <div>
                            <div class="feed-item-container yt-uix-expander yt-uix-expander-collapsed">
                                <div class="feed-item-outer">
                                    <div class="feed-item-main">
                                        <div class="feed-item-thumb">
                                            <span class="feed-item-author">
                                                <a href="/user/{{profile.displayname}}" class="yt-user-photo">
                                                    <span class="video-thumb ux-thumb yt-thumb-square-46">
                                                        <span class="yt-thumb-clip">
                                                            <span class="yt-thumb-clip-inner">
                                                                <img src="/vi/ava/{{profile.displayname}}.jpg" alt="Thumbnail" data-thumb="/vi/ava/{{profile.displayname}}.jpg" style="margin-left: 4px;" width="46" data-group-key="thumb-group-15">
                                                                <span class="vertical-align"></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="feed-item-time">
                                            {{bulletin.date}}
                                        </div>
                                        <div class="feed-item-content">
                                            <div class="feed-item-actions-line user">
                                                <div class="feed-item-attribution feed-avatar-first">
                                                    <span class="feed-item-owner">
                                                        <a href="/user/{{profile.displayname}}" class="yt-user-name">{{profile.displayname}}</a>
                                                    </span>
                                                    posted:
                                                </div>
                                                <div class="feed-item-target">
                                                    <p>
                                                        {{bulletin.content|raw}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    {%else%}
                    <p class="feed-unavailable-message">No recent activity.</p>
                    {%endif%}
                {%elseif filter == 1%}
                    {% if owner or (profile.c_comments == 1 and session.session != -1) %}
                    <form action="/user/{{profile.displayname}}/feed?filter=1" method="POST" style="display: flex; margin: 8px 0 8px 0;">
                        <textarea name="comment" id="comment" placeholder="Write your comment"></textarea>
                        <button type="submit" name="channel_comment" class="yt-uix-button yt-uix-button-default yt-uix-button-short">Publish</button>
                    </form>
                    {% endif %}
                    {%if comments.count > 0%}
                    <span class="yt-uix-c3-load-more">
                        <span class="yt-uix-c3-load-more-list-container">
                            <ul class="post-item-list">
                                {%for comment in comments.data%}
                                <li class="post-item comment-post" data-comment-id="{{comment.id}}">
                                    <div class="post-item-heading">
                                        <div class="heading-main">
                                            <a href="/user/{{comment.by_user}}" class="yt-user-photo">
                                                <span class="video-thumb ux-thumb yt-thumb-square-23">
                                                    <span class="yt-thumb-clip">
                                                        <span class="yt-thumb-clip-inner">
                                                            <img src="/vi/ava/{{comment.by_user}}.jpg" alt="{{comment.by_user}}" style="margin-left: 5px;" width="27" height="23">
                                                            <span class="vertical-align"></span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                            <div class="post-item-info">
                                                <a href="/user/{{comment.by_user}}" class="yt-user-name" dir="ltr">{{comment.by_user}}</a>
                                                posted a comment
                                            </div>
                                            <span class="post-item-timestamp">{{comment.date}}</span>
                                        </div>
                                        <div class="post-item-actions">
                                            <button class="report-spam" title="Report Spam">
                                                Report Spam
                                            </button>
                                            {%if owner or comment.by_user == user%}
                                            <button onclick="window.location.replace('/user/{{profile.displayname}}/feed?filter=1&remove={{comment.id}}')" class="remove-comment" title="Remove Comment">
                                                Remove Comment
                                            </button>
                                            {%endif%}
                                        </div>
                                    </div>
                                    <div class="yt-tile-visible">
                                        <p class="comment-text">
                                            {{comment.comment|raw}}
                                        </p>
                                    </div>
                                </li>
                                {%endfor%}
                            </ul>
                        </span>
                    </span>
                    {%else%}
                    <p class="feed-unavailable-message">No channel comments.</p>
                    {%endif%}
                {%endif%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}